content {
    display: flex;
    width: 30%;
}

.content2 {
    display: flex;
    flex-direction: row;
}

.container {
    justify-content: space-between;
    width: 100%;
    display: flex;
}

#card {
    background: #cacaca;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 3rem 1rem;
}

#card img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0rem;
}

.card {
    background: #cacaca;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 1rem 1rem;
}

.card img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0rem;
}

p {
    display: block;
    margin: 1.5rem 0rem;
}

.subtxt {
    display: block;
    margin: 4rem 0rem;
}

h4 {
    margin: 0.5rem;
    color: #414141;
}

h5 {
    margin: 2rem 4rem;
    color: #0e89db;
}

.submudar {
    margin: 4.5rem 4rem;
    color: #0e89db;
}